{% extends "base.html" %}

{% block cores %}
<a class="nav-link" href="{% url 'manager' %}">
	<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
    Dashboard
</a>
{% endblock cores %}
{% block interface %}
<a class="nav-link" href="#Personnel">
    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
    Personnel
</a>
<a class="nav-link" href="#Stock">
    <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
    E/S
</a>
<a class="nav-link" href="#Feedbacks">
    <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
    Feedbacks
</a>
{% endblock interface %}

{% block addons %}
<a class="nav-link" href="{% url 'manager' %}">
    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
    Tables
</a>
{% endblock addons %}
