{% extends "manager/base.html" %}
{% load static %}
{% block main %}
<link href="{% static "css/bootstrap-datepicker.standalone.min.css" %}" rel="stylesheet" crossorigin="anonymous" />
<script src="{% static "js/bootstrap-datepicker.min.js" %}" crossorigin="anonymous"></script>

<div class="row m-2 m-sm-0 p-sm-0">
	<div class="col-md-6 mt-2">
		<div class="card">
			<div class="card-body p-1">
				<h2>courbe service</h2>
				<div class="row ml-2">
					<input class="datepicker form-control-sm col-4" id="d_chart_service" placeholder="date de debut" data-date-format="yyyy-mm-dd">
					<input class="datepicker form-control-sm col-4" id="f_chart_service" placeholder="date de fin" data-date-format="yyyy-mm-dd">
					<button class="btn btn-primary form-control-sm" id="btn-service">valider</button>
				</div>
			</div>
			<div class="card-body mt-0 p-0">
				<canvas id="chartService" class="bg-light col-12"></canvas>
			</div>
		</div>
	</div>
	<div class="col-md-6 mt-2">
		<div class="card">
			<div class="card-body p-1">
				<h2>bar service</h2>
			</div>
			<div class="card-body mt-0 p-0">
				<canvas id="barsService" class="bg-light col-12"></canvas>
			</div>
		</div>
	</div>
	<div class="col-md-6 mt-2">
		<div class="card">
			<div class="card-body p-1">
				<h2>courbe depenses</h2>
			</div>
			<div class="card-body mt-0 p-0">
				<canvas id="chartES" class="bg-light col-12"></canvas>
			</div>
		</div>
	</div>
	<div class="col-md-6 mt-2">
		<div class="card">
			<div class="card-body p-1">
				<h2>bar depenses</h2>
			</div>
			<div class="card-body mt-0 p-0">
				<canvas id="barsES" class="bg-light col-12"></canvas>
			</div>
		</div>
	</div>
	<div class="col-md-6 mt-2">
		<div class="card">
			<div class="card-body p-1">
				<h2>bar votes</h2>
				<label for="recettes">chisissez la recette:</label>
				<select id="recettes" class="form-control">
				  <option value=" ">(aucune choix)</option>
				</select>
			</div>
			<div class="card-body mt-0 p-0">
				<canvas id="doughnutFeed" class="bg-light col-12"></canvas>
			</div>
		</div>
	</div>
	<div class="col-md-6 mt-2">
		<div class="card">
			<div class="card-body p-1">
				<h2>bar recette modale</h2>
			</div>
			<div class="card-body mt-0 p-0">
				<canvas id="pieMode" class="bg-light col-12"></canvas>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

$(function () {
	$('.datepicker').datepicker();
});
// let $chartCuisine = $('#chartCuisine').getContext('2d');
let $chartService = $('#chartService');
let $barsService = $('#barsService');
let $chartES = $('#chartES');
let $barsES = $('#barsES');
let $doughnutFeed = $('#doughnutFeed');
let $pieMode = $('#pieMode');

let chartService = new Chart($chartService, {
	type:'line',
	data:{
		labels:[],
		datasets:[],
	}
})
let chartES = new Chart($chartES, {
	type:'line',
	data:{
	}
})
let barsService = new Chart($barsService, {
	type:'bar',
	data:{
		labels:[],
		datasets:[{}],
	}
})
let barsES = new Chart($barsES, {
	type:'bar',
	data:{
		labels:[],
		datasets:[{}],
	}
})
let doughnutFeed = new Chart($doughnutFeed, {
	type:'horizontalBar',
	data:{
		labels:[],
		datasets:[{}],
	}
})
let pieMode = new Chart($pieMode, {
	type:'pie',
	data:{
		labels:[],
		datasets:[{}],
	}
})
let randomColor = function () { 
	var num = Math.round(0xffffff * Math.random());
	var r = num >> 16;
	var g = num >> 8 & 255;
	var b = num & 255;
	return ['rgba(' + r + ', ' + g + ', ' + b + ', ' + 0.2 + ')',
			'rgba(' + r + ', ' + g + ', ' + b + ', ' + 1 + ')'];
};
// charts Services
function fChartService(url = '/api/chartservice/service/'){
	$.ajax({
		url: url,
		type: 'GET',
		dataType: 'json',
	})
	.done(function(data) {
		chartService.data.labels = data.labels;
		for(let el of data.datasets){
			el.borderColor=randomColor()[1];
			el.borderWidth = 1;
		};
		chartService.data.datasets = data.datasets;
		chartService.update();
	});
}
fChartService();
$('#btn-service').on('click', function(event) {
	url = "/api/chartservice/servicedu"+
			$("#d_chart_service").val()+"au"
			+$("#f_chart_service").val()+"/";
	fChartService(url);
});
//=====================================================
// charts Entree/Sortie
$.ajax({
	url: "/api/chart_es/esdefault/",
	type: 'GET',
	dataType: 'json',
})
.done(function(data) {
	let labels = data;
	for(let el of data.datasets){
		c = randomColor();
		el.borderColor=c[1];
		el.borderWidth = 1;
		el.backgroundColor=c[0];
	}
	chartES.data = data;
	chartES.update();
});
//=====================================================
// bar services
$.ajax({
	url: '/api/chartservice/servicegroupesdefault/',
	type: 'GET',
	dataType: 'json',
})
.done(function(data) {
	barsService.data.labels = data.labels;
	bg = [];
	strokes = [];
	for(let el of data.data){
		c = randomColor();
		bg.push(c[0]);
		strokes.push(c[1]);
	}
	barsService.data.datasets[0].label = 'nombre servi';
	barsService.data.datasets[0].data = data.data;
	barsService.data.datasets[0].backgroundColor = bg;
	barsService.data.datasets[0].borderColor = strokes;
	barsService.data.datasets[0].borderWidth = 1;
	barsService.update();
});
//=====================================================
// bar Entrée/Sortie
$.ajax({
	url: '/api/chart_es/esbardefault/',
	type: 'GET',
	dataType: 'json',
})
.done(function(data) {
	barsES.data.labels = data.labels;
	bg = []
	strokes = []
	for(let el of data.datasets[0].data){
		c = randomColor();
		bg.push(c[0]);
		strokes.push(c[1]);
	}
	data.datasets[0].backgroundColor = bg;
	data.datasets[0].borderColor = strokes;
	data.datasets[0].borderWidth = 1;
	barsES.data.datasets = data.datasets;
	barsES.data.datasets[0].label = 'les Entrées & sorties';
	barsES.update();
});
//=====================================================
// pie Mode
$.ajax({
	url: '/api/chart_mode/modedefault/',
	type: 'GET',
	dataType: 'json',
})
.done(function(data) {
	pieMode.data.labels = data.labels;
	bg = []
	strokes = []
	for(let el of data.datasets[0].data){
		c = randomColor();
		bg.push(c[0]);
		strokes.push(c[1]);
	}
	data.datasets[0].backgroundColor = bg;
	data.datasets[0].borderColor = strokes;
	data.datasets[0].borderWidth = 1;
	pieMode.data.datasets = data.datasets;
	pieMode.data.datasets[0].label = 'les le recettes modales';
	pieMode.update();
});
//=====================================================
$.ajax({
	url: '/api/recette/',
	type: 'GET',
	dataType: 'json',
})
.done(function(data) {
	for (let recette of data) {
		$("#recettes").append(new Option(recette.nom, recette.id));
	}
});
$("#recettes").on('change', function(event) {
	$.ajax({
		url: '/api/chart_feed/'+$(this).val()+'/feedback/',
		type: 'GET',
		dataType: 'json',
	})
	.done(function(data) {
		doughnutFeed.data.labels = data.labels;
		bg = []
		strokes = []
		for(let el of data.datasets[0].data){
			c = randomColor();
			bg.push(c[0]);
			strokes.push(c[1]);

		}
		data.datasets[0].backgroundColor = bg;
		data.datasets[0].borderColor = strokes;
		data.datasets[0].borderWidth = 1;
		doughnutFeed.data.datasets = data.datasets;
		doughnutFeed.data.datasets[0].label = 'les votes';
		doughnutFeed.update();
	})
	
});
</script>
{% endblock main %}