{% extends "base.html" %}

{% block cores %}
<a class="nav-link" href="{% url 'commercial' %}">
	<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
    Dashboard
</a>
{% endblock cores %}
{% block interface %}
<a class="nav-link" href="{% url 'ccommandes' %}">
    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
    Commandes
</a>
<a class="nav-link" href="{% url 'cstock' %}">
    <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
    Stock
</a>
<a class="nav-link" href="{% url 'cachats' %}">
    <div class="sb-nav-link-icon"><i class="fas fa-dolly"></i></div>
    Achats
</a>
<a class="nav-link" href="{% url 'coffres' %}">
    <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
    Offres
</a>
{% endblock interface %}

{% block addons %}
<a class="nav-link" href="{% url 'commercial' %}">
    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
    Tables
</a>
{% endblock addons %}
