{% extends "base.html" %}

{% block cores %}
{% for place in places %}
    <a class="nav-link pb-0 place" data-id="{{ place.id }}" href="{% url 'commercial' place.id %}">
        <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
        {{ place }}
        {# <span class="badge badge-primary ml-2">0</span> #}
    </a>
{% endfor %}
{% endblock cores %}
{% block interface %}
<a class="nav-link" href="{% url 'cstock' %}">
    <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
    Stock
</a>
{% endblock interface %}

{% block addons %}
<a class="nav-link" href="{% url 'commercial' %}">
    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
    Tables
</a>
{% endblock addons %}
{% block scripts %}
jQuery(document).ready(function($) {

});
{% endblock scripts %}