{% extends "base.html" %}
{% block body %}
<div style="background-color:cadetblue">
	<main>
	    <div class="container p-2">
	        <div class="row justify-content-center">
	            {% if messages %}
	            {% for message in messages %}
	                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
	                    <div class="alert alert-danger alert-dismissible fade show text-center fixed-top" id="danger-alert" role="alert">
	                        {{ message }}
	                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                            <span aria-hidden="true">&times;</span>
	                        </button>
	                    </div>
	                {% endif %}
	            {% endfor %}
	            {% endif %}
	            <div class="col-12">
	            	{% if offre_form %}
                    <form method="POST" action="{% url 'coffre' product_id %}" id="modal-form">
                    	{% csrf_token %}
                        {{ offre_form.as_p }}
                    {% elif achat_form %}
                    <form method="POST" action="{% url 'cachats' product_id %}" id="modal-form">
                    	{% csrf_token %}
                        {{ achat_form.as_p }}
                    {% else %}
                    <form method="POST" action=".">
                    	{% csrf_token %}
                        {{ form.as_p }}
	            	{% endif %}
                        <input type="submit" name="submit" class="btn btn-primary col-12">
                    </form>
	            </div>
	        </div>
	    </div>
	</main>
</div>
{% endblock body %}
