{% extends "commercial/base.html" %}
{% block main %}
<div class="row">
    <div class="col-xl-4 col-sm-6 col-12 p-1">
        <a href="/admin/base/offre" target="blank" class="text-decoration-none">
        <div class="rounded bg-success">
            <div class="text-center text-light ">Gerer</div>
            <div class="text-center text-light font-weight-bold">les Offre</div>
        </div>
        </a>
    </div>
    <div class="col-xl-4 col-sm-6 col-12 p-1">
        <a href="/admin/base/produit" target="blank" class="text-decoration-none">
        <div class="rounded bg-success">     
            <div class="text-center text-light">gerer</div>
            <div class="text-center text-light font-weight-bold">les produits</div>
        </div>
        </a>
    </div>
    <div class="col-xl-4 col-sm-6 col-12 p-1">
        <a href="/admin/base/fournisseur" target="blank" class="text-decoration-none">
        <div class="rounded bg-success">     
            <div class="text-center text-light">gerer</div>
            <div class="text-center text-light font-weight-bold">les fournisseurs</div>
        </div>
        </a>
    </div>
    <div class="row m-1 p-0">
    {% for product in products %}
	    <div class="col-xl-4 col-sm-6 col-12 p-1 product" 
	    	data-id="{{ product.id }}">
	        <a class="text-decoration-none modal-link 
	            	{% if not product.quantiteEnStock or product.quantiteEnStock == 0 %}
	            		text-danger
	            	{% elif product.quantiteEnStock < 5 %}
	            		text-success
	            	{% else %}
	            		text-primary
	            	{% endif %}"
		        href="{% url 'cdetails' product.id %}"
		        target="blank">
	        <div class="rounded m-0 bg-light">  
	            <div class="text-center font-weight-bold product-name">{{ product.nom }}</div>
	            <div class="text-center"> 
	            	<span class="quantite-stock">
	                {{ product.quantiteEnStock|default:0 }}
	            	</span>
	            	 {{ product.unite }}
	            </div>
	            <div class="row col-12 p-1 m-0 d-flex d-lg-none options">
		            <div class="col-6 p-1">
		            	<a class="btn col-12 text-light btn-secondary btn-sm modal-link"
		            		href="{% url 'coffre' product.id %}"
		            		target="blank" data-id="{{ product.id }}">
		            		<i class="fas fa-plus"></i> offre
		            	</a>
		            </div>
		            <div class="col-6 p-1">
		            	<a class="btn col-12 text-light btn-primary modal-link btn-sm"
		            		href="{% url 'cachats' product.id  %}"
		            		target="blank">
		            		s'approvisionner
		            	</a>
		            </div>
	            </div>
	        </div>
	        </a>
	    </div>
    {% endfor %}
    </div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Modal title</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
				</div>
				<div class="modal-body">
					<p>One fine body&hellip;</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>
<script type="text/javascript">
jQuery(document).ready(function($) {

$('.product').on('mouseenter', function() {
	$(this).find('.options').addClass('d-lg-flex');
});

$('.product').on('mouseleave', function() {
	$(this).find('.options').removeClass('d-lg-flex');
});

$('.modal-link').on('click',function(event){
    event.preventDefault();
    let modal_link = $(this);
    let $lbl_stock = $(this).closest('.product').find('.quantite-stock');
    let data_id = $(this).closest('.product').attr('data-id');
    let produit = $(this).closest('.product').find('.product-name').text();
    $('.modal-body').load($(this).attr('href'),function(){
    	$('#myModal').modal('handleUpdate');
        $('#myModal').modal({show:true});
        $('#myModal').find('.modal-title').text("approvisionnement "+produit);
    });
    $('#myModal').on('hidden.bs.modal', function () {
    	console.log(data_id);
    	$.ajax({
    		url: '/api/stock/quantite/'+data_id,
    		type: 'GET',
    		dataType: 'json',
    	})
    	.done(function(data) {
    		console.log($(this));
    		$lbl_stock.text(data.quantite);
	        if(data.quantite == 0){
	            modal_link.addClass('text-danger');
	        }
	        else if( data.quantite < 5){
	            modal_link.addClass('text-success');
	        }
	        else{
	        	modal_link.addClass('text-primary');
	        }
    	})
    	.fail(function() {
    		console.log("error");
    	})
    	.always(function() {
    		console.log("complete");
    	});
    	
	});
}); 
$('#myModal').on("submit", "#modal-form", function (e) {
	e.preventDefault();
	$.ajax({
		url: $(this).attr('action'),
		type: 'POST',
		data: $(this).serialize(),
	})
	.done(function() {
		alert("success");
	})
	.fail(function() {
		console.log("error");
	})
	.always(function() {
	});
	
});  

});
</script>
{% endblock main %}