{% extends "base.html" %}
{% block interface %}
{% for place in places %}
    <a class="nav-link pb-0 place" data-id="{{ place.id }}" href="{% url 'service' place.id %}">
        <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
        {{ place }} flat
        <span class="badge badge-primary ml-2">0/0</span>
    </a>
    <a class="nav-link pt-0 place" data-id="{{ place.id }}" href="{% url 'service' place.id 1 %}">
        <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
        {{ place }}
        <span class="badge badge-primary ml-2">0/0</span>
    </a>
{% endfor %}
{% endblock interface %}

{% block addons %}
{% endblock addons %}
