{% extends "service/base.html" %}
{% load mathfilters %}
{% block main %}
{% if ordered %}
<div class="container">
	<div class="row">		
	{% for table in tables %}
		<div class="mt-2 p-1 col-6 col-sm-4 col-md-3 col-xl-2">
			<div class="card client-table" data-id="{{ table.id }}"
			style='	-moz-user-select: -moz-none;
					-khtml-user-select: none;
					-webkit-user-select: none;'>
				<a href="{% url 'scommandes' table.id %}" class="text-decoration-none modal-link">
				<div class="card-body m-auto col-12 p-0">
					<ul class="list-group text-justify list-group-flush">
						<li class="border-0 list-group-item p-0 text-center font-weight-bold">{{ table }}</li>
						<li class="border-0 list-group-item p-0 text-center table-orders">commandes:<span class="badge badge-primary ml-2">0/0</span></li>
						<li class="border-0 list-group-item p-0 text-center table-logs">no logs</li>
					</ul>
				</div>
				</a>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% else %}
	<div class="bg-light mb-2" id="workspace" style="position:relative;width:1000px; height:500px">
	{% for table in tables %}
	<div class="card client-table" data-id="{{ table.id }}"
		style='	left:{{ table.x }}px;
				top:{{ table.y }}px;
				position:absolute;
				-moz-user-select: -moz-none;
				-khtml-user-select: none;
				-webkit-user-select: none;
				cursor: grab;'>
		<a href="{% url 'scommandes' table.id %}" class="text-decoration-none modal-link">
		<div class="card-body m-auto col-12 p-1">
			<ul class="list-group text-justify list-group-flush">
				<li class="border-0 list-group-item p-0 text-center font-weight-bold">{{ table }}</li>
				<li class="border-0 list-group-item p-0 text-center table-orders">commandes:<span class="badge badge-primary ml-2">0/0</span></li>
				<li class="border-0 list-group-item p-0 text-center table-logs">no logs</li>
			</ul>
		</div>
		</a>
	</div>
	{% endfor %}
	</div>
	<div class="container">
		<input type="checkbox" class="form-check-input" id="edit_mode">
		<label class="form-check-label" for="exampleCheck1">
			enable edit tables positions
		</label>
		<div id="log">no logs</div>
	</div>
{% endif %}
<div class="modal fade " id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modern Restaurant commands list</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function($) {
//==================== drag code ======================
	let $dragging = null;
	let draggable = null;
	let local_x = null;
	let local_y = null;
	let global_x = null;
	let global_y = null;
	$(".client-table").on("mousedown touchstart", function (event) {
		if( $('#edit_mode').is(':checked') ){
	    	event.preventDefault();
			$dragging = true;
			$(".client-table").css("z-index", 0);
			$draggable = $(this);
		    let offset = $(this).offset();
		    local_x = event.pageX-offset.left;
		    local_y = event.pageY-offset.top;
		    $(this).css("z-index", 1);
		}
	});

	$(".client-table").parent().on("mouseup touchend", function (e) {
	    if ($dragging & $('#edit_mode').is(':checked')) {
	    	event.preventDefault();
		    $dragging = null;
		    let data={
		    	x: $draggable.position().left,
		    	y: $draggable.position().top,
		    };
		    console.log(data);
		    $.ajax({
		        	url: '/api/table/'+$draggable.attr('data-id')+"/",
		        	type: 'PUT',
		        	headers:{ "X-CSRFToken": $.cookie("csrftoken") },
		        	data: data,
		        })
		        .done(function() {
		        	$("#log").text("change table position success");

		        })
		        .fail(function() {
		        	$("#log").text("change element position error");
		        });
	    }

	});

	$(".client-table").parent().on("mousemove touchmove", function (event) {
	    if ($dragging & $('#edit_mode').is(':checked')) {
	    	event.preventDefault();
	    	let offset = $(this).offset();
	    	let max_w = $(this).width()-$draggable.width();
	    	let max_h = $(this).height()-$draggable.height();
	    	global_x = event.pageX-offset.left-local_x;
			global_y = event.pageY-offset.top-local_y;
			// console.log(global_x, max_w, global_y, max_h);
			if(global_x<max_w && global_x>=0 && global_y<max_h && global_y>=0){
				$draggable.css("left", global_x+"px");
				$draggable.css("top", global_y+"px");
			}
	    }
	});
// ==================== fin code drag'n'drop ====================
	for(let table of $(".client-table")){
		let table_id = $(table).attr('data-id');
		$.ajax({
			url: '/api/commande/'+table_id+'/commands_count/',
			type: 'GET',
			dataType: 'json',
		})
		.done(function(data) {
			$(table).find('.badge-primary').text(data.to_serve+"/"+data.total);
			if (parseInt(data.to_serve) > 0) {
				$(table).addClass('bg-success');
				$(table).find('li').addClass('bg-success text-light');
			}
		});
	}
	for(let place of $(".place")){
		let place_id = $(place).attr('data-id');
		$.ajax({
			url: '/api/commande/'+place_id+'/place_comands_count/',
			type: 'GET',
			dataType: 'json',
		})
		.done(function(data) {
			$(place).find('.badge-primary').text(data.to_serve+"/"+data.total);
			// if (parseInt(data.to_serve) > 0) {
			// 	$(place).addClass('bg-success');
			// 	$(place).find('li').addClass('bg-success text-light');
			// }
		});
	}

	$('.modal-link').on('click',function(event){
	    event.preventDefault();
	    event.stopPropagation();
	    if (!$('#edit_mode').is(':checked')){
		    $('.modal-body').load($(this).attr('href'),function(){
		    	$('#myModal').modal('handleUpdate')
		        $('#myModal').modal({show:true});
		    });
		}
	}); 
});	
</script>
{% endblock main %}				
