{% extends "service/base.html" %}
{% load mathfilters %}
{% block main %}
{% if ordered %}
<div class="bg-light mb-2" id="workspace" style="position:relative;width:1000px; height:500px">
	{% for table in tables %}
	<div class="card client-table" data-id="{{ table.id }}"
		style='	left:{{ table.x }}px;
				top:{{ table.y }}px;
				position:absolute;
				-moz-user-select: -moz-none;
				-khtml-user-select: none;
				-webkit-user-select: none;
				cursor: grab;'>
		<a href="{% url 'scommandes' table.id %}" class="text-decoration-none modal-link">
		<div class="card-body m-auto col-12 p-1">
			<div class="text-justify">
				<div class="border-0 p-0 text-center font-weight-bold">{{ table }}</div>
				<div class="border-0 p-0 text-center table-orders">commandes:<span class="badge badge-primary ml-2">0</span></div>
				<div class="border-0 p-0 text-center table-logs">no logs</div>
			</div>
		</div>
		</a>
	</div>
	{% endfor %}
	</div>
	<div class="container">
		<input type="checkbox" class="form-check-input" id="edit_mode">
		<label class="form-check-label" for="exampleCheck1">
			enable edit tables positions
		</label>
		<div id="log">no logs</div>
	</div>
{% else %}
<div class="container">
	<div class="row">		
	{% for table in tables %}
		<div class="mt-2 p-1 col-6 col-sm-4 col-md-3 col-xl-2">
			<div class="card client-table" data-id="{{ table.id }}"
			style='	-moz-user-select: -moz-none;
					-khtml-user-select: none;
					-webkit-user-select: none;'>
				<a href="{% url 'scommandes' table.id %}" class="text-decoration-none modal-link">
				<div class="card-body m-auto col-12 p-0">
					<div class="text-justify">
						<div class="border-0 p-0 text-center font-weight-bold">{{ table }}</div>
						<div class="border-0 p-0 text-center table-orders">commandes:<span class="badge badge-primary ml-2">0</span></div>
						<div class="border-0 p-0 text-center table-logs">no logs</div>
					</div>
				</div>
				</a>
			</div>
		</div>
	{% endfor %}
	</div>
</div>	
{% endif %}
<div class="modal fade " id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modern Restaurant commands list</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function($) {
//==================== drag code ======================
	let $dragging = null;
	let draggable = null;
	let local_x = null;
	let local_y = null;
	let global_x = null;
	let global_y = null;
	$(".client-table").on("mousedown touchstart", function (event) {
		if( $('#edit_mode').is(':checked') ){
	    	event.preventDefault();
			$dragging = true;
			$(".client-table").css("z-index", 0);
			$draggable = $(this);
		    let offset = $(this).offset();
		    local_x = event.pageX-offset.left;
		    local_y = event.pageY-offset.top;
		    $(this).css("z-index", 1);
		}
	});

	$(".client-table").parent().on("mouseup touchend", function (e) {
	    if ($dragging & $('#edit_mode').is(':checked')) {
	    	event.preventDefault();
		    $dragging = null;
		    let data={
		    	x: $draggable.position().left,
		    	y: $draggable.position().top,
		    };
		    console.log(data);
		    $.ajax({
		        	url: '/api/table/'+$draggable.attr('data-id')+"/",
		        	type: 'PUT',
		        	headers:{ "X-CSRFToken": $.cookie("csrftoken") },
		        	data: data,
		        })
		        .done(function() {
		        	$("#log").text("change table position success");

		        })
		        .fail(function() {
		        	$("#log").text("change element position error");
		        });
	    }

	});

	$(".client-table").parent().on("mousemove touchmove", function (event) {
	    if ($dragging & $('#edit_mode').is(':checked')) {
	    	event.preventDefault();
	    	let offset = $(this).offset();
	    	let max_w = $(this).width()-$draggable.width();
	    	let max_h = $(this).height()-$draggable.height();
	    	global_x = event.pageX-offset.left-local_x;
			global_y = event.pageY-offset.top-local_y;
			// console.log(global_x, max_w, global_y, max_h);
			if(global_x<max_w && global_x>=0 && global_y<max_h && global_y>=0){
				$draggable.css("left", global_x+"px");
				$draggable.css("top", global_y+"px");
			}
	    }
	});
// ==================== fin code drag'n'drop ====================
function updateTables(){
	for(let table of $(".client-table")){
		let table_id = $(table).attr('data-id');
		$.ajax({
			url: '/api/commande/'+table_id+'/commands_count/',
			type: 'GET',
			dataType: 'json',
		})
		.done(function(data) {
			var label = data.to_serve;//+"/"+data.total;
			$(table).find('.badge-primary').text(label);

			$(table).removeClass('bg-danger bg-light bg-success text-white');
			$(table).children('a').removeClass('text-dark text-white');
			if(sessionStorage.getItem("urgent")>0){
				if(data.urgent>0){
					$(table).addClass('bg-danger');
					$(table).children('a').addClass('text-white');
					notify();
				}else {
					$(table).children('a').addClass('disabled text-dark');
					$(table).addClass('bg-light')
					$(table).children('a').css({
						cursor: 'no-drop',
					});
				}
			}else {
				if (parseInt(data.to_serve) > 0) {
					$(table).addClass('bg-success');
					$(table).children('a').addClass('text-white');
					notify();
				}
			}
		});
	}
}
function updatePlaces(){
	for(let place of $(".place")){
		let place_id = $(place).attr('data-id');

		$.ajax({
			url: '/api/commande/'+place_id+'/place_comands_count/',
			type: 'GET',
			dataType: 'json',
		})
		.done(function(data) {
			var label = data.to_serve;//+"/"+data.total;
			badge = $(place).find('.badge');
			if(badge.text()!= label){
				badge.text(label);
				if($(place).hasClass('active')){
					$(".client-table").children('a').css({
						cursor: 'pointer',
					});
					updateTables();
				}
			}
			if(parseInt(data.urgent)>=1){
				badge.removeClass('badge-primary');
				badge.addClass('badge-danger')
			}else{
				badge.addClass('badge-primary');
				badge.removeClass('badge-danger')
			}
			sessionStorage.setItem("urgent", data.urgent);
		});
	}
	if(sessionStorage.getItem("urgent")>0){
		$.ajax({
			url: '/api/commande/urgent/',
			type: 'GET',
			dataType: 'json',
		})
		.done(function(data) {
			sessionStorage.setItem("urgent_list", data.urgent_list);
		})		
	}
	console.log(sessionStorage.getItem("urgent"));
	console.log(sessionStorage.getItem("urgent_list"));
}
	$('.modal-link').on('click',function(event){
	    event.preventDefault();
	    event.stopPropagation();
	    if(!$(this).hasClass('disabled')){
		    if (!$('#edit_mode').is(':checked')){
			    $('.modal-body').load($(this).attr('href'),function(){
			    	$('#myModal').modal('handleUpdate')
			        $('#myModal').modal({show:true});
			    });
			}
		}
	}); 

updatePlaces(10000);
setInterval(updatePlaces, 10000);

function notify(){
	Notification.requestPermission().then(function(result){
		var audio = new Audio("/static/son.mp3");
		audio.play();
		var notif = new Notification("Une commande est prête",{
			icon:"",
			body:"veuillez cliquer ici pour voir les détails",
		})
		notif.onClick = function(){
			console.log("gooood notification clicked");
		}
		setTimeout(notif.close.bind(notif), 5000);
	});
}

});	
</script>
{% endblock main %}				
