{% extends "cuisine/base.html" %}
{% load static %}
{% block main %}
<div class="container">
	<div class="row parent" id="paniers">
	{% for commande in commandes %}
		{% for panier in commande.paniers %}
			<div class="mt-2 col-md-4 col-xl-3 col-xs-12 col-sm-6 template-parent">
				<div class="card bg-light">
					<img class="card-img-top" src="{{ panier.recette.image.url }}" alt="Card image cap">
					<div class="card-body">
					  <ul class="list-group bg-light list-group-flush">
					    <li class="list-group-item p-0 bg-light text-bold">
					    	<strong>{{ panier.recette.nom }}</strong>
					    </li>
					  </ul>
					</div>
					<div class="card-footer text-muted">
						<button class="btn btn-sm btn-success
						col-12 btn-valider-pret" data-id='{{ panier.id }}'>
							pret
						</button>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endfor %}
	</div>
</div>
<script type="text/javascript">

jQuery(document).ready(function($) {
let renderTemplate = (parent, image, nom, panier_id) =>{
	let template =`
<div class="mt-2 col-md-4 col-xl-3 col-xs-12 col-sm-6 template-parent">
	<div class="card bg-light">
		<img class="card-img-top" src="`+image+`" alt="Card image cap">
		<div class="card-body">
		  <ul class="list-group bg-light list-group-flush">
		    <li class="list-group-item p-0 bg-light text-bold">
		    	<strong>`+nom+`</strong>
		    </li>
		  </ul>
		</div>
		<div class="card-footer text-muted">
			<button class="btn btn-sm btn-success
			col-12 btn-valider-pret" data-id='`+panier_id+`'>
				pret
			</button>
		</div>
	</div>
</div>`;
	parent.append(template);
}
const $all_commandes = $(".commande");
$("main").on('click', '.btn-valider-pret', function(event) {
	let $btn = $(this);
	let panier_id = $btn.attr('data-id');
	data = {pret: true,};
	$.ajax({
		url: '/api/deep_panier/'+panier_id+'/',
		type: 'PUT',
		headers : { "X-CSRFToken": $.cookie("csrftoken") },
		dataType: 'json',
		data: data,
	})
	.done(function() {
		let $parent = $btn.closest(".template-parent");
		$parent.fadeOut('slow', function() {
			$(this).remove();
		});
	})
	.fail(function() {
		console.log("error");
	})
	.always(function() {
		update();
	});

});
let update = ()=>{
	$last = $(".btn-valider-pret").last().attr('data-id');
	if($last === undefined){
		url = '/api/deep_panier/all/';
	}else{
		url = '/api/deep_panier/lasts/'+$last;
	}
	$.ajax({
		url: url,
		type: 'GET',
		dataType: 'json',
	})
	.done(function(data) {
		if(data.length > 0){
			$parent = $("#paniers");
			for(let panier of data){
				renderTemplate($parent, panier.recette.image, panier.recette.nom, panier.id,)
			}
		}
	})
	.fail(function() {
	})
	.always(function() {
	});
}
setInterval(update, 60000);
});
</script>
{% endblock main %}